body {
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #fff;
	width: 500px;
	overflow: hidden;
	/*font-family: "tahoma", "Helvetica Neue", "Hiragino Sans GB", "Noto Sans S Chinese", "Microsoft YaHei", "sans-serif";*/
  -webkit-user-select: none;
	-webkit-app-region: no-drag;
}
button, input, ul {
	-webkit-app-region: no-drag;
}

#header {
	height: 48px;
	background-color: #222;
	padding: 6px 6px 6px 66px;
	border-bottom: #000 3px solid;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #222;
  -webkit-user-select: none;
	-webkit-app-region: drag;
}
#footer div {
	margin: 6px;
	font-size: 13px;
	text-align: right;
}

#logo {
	position: absolute;
	left: 6px;
	width: 48px;
	height: 48px;
}

#title {
	margin: 0px;
}
#title h4 {
	font-size: 26px;
	margin: 0px;
}
#title span {
	font-size: 12px;
	color: #888;
}

#toolbar {
	position: absolute;
	right: 6px;
}

button {
	color: #888;
	background-color: #000;
	border: #000 1px solid;
	margin: 0;
	padding: 5px 10px;
}
button:hover {
	color: #ccc;
}
button:focus, button.focus {
	transition:border linear .2s;
	outline: none;
	border-color:#ccc;
	color: #ccc;
}
input, select{
	padding: 4px;
	border: 0;
	text-indent: 8px;
	width: 150px;
}
select {
	-webkit-appearance: none;
	border-radius: 0;
	width: 158px;
}

#container {
	margin: 20px 0;
	font-size: 14px;
	background-color: #333;
	color: #ccc;
}

.control-group {
	padding-bottom: 10px;
}
.control-group label {
	display: inline-block;
	width: 100px;
	margin-right: 10px;
	text-align: right;
}
.control-group input, .control-group select {
  -webkit-app-region: no-drag;
}

#detail {
	display: inline-block;
	width: 300px;
}
#list {
	display: inline-block;
	margin-left: 20px;
}
#list ul {
	width: 150px;
	border: #ccc 1px solid;
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
	background-color: #333;
	list-style-type: none;
	height: 230px;
	overflow: scroll;
}
#list ul li {
	padding: 6px;
	cursor: pointer;
}
#list ul li h4 {
	font-size: 14px;
	margin: 2px;
}
#list ul li span {
	font-size: 13px;
	color: #666;
}
#list ul li:nth-child(even) {
	background-color: #444;
}
#list ul li:hover, .selected {
	background-color: #888;
}