body {
	width: 500px;
	height: 400px;
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #ccc;
	overflow: hidden;
  -webkit-user-select: none;
}
button, input, ul, a, select {
	-webkit-app-region: no-drag;
} 

#header {
	color: #fff;
	height: 48px;
	background-color: #222;
	padding: 6px 6px 6px 66px;
	border-bottom: #000 3px solid;
	-webkit-app-region: drag;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #222;
}
#footer div {
	margin: 6px;
	font-size: 13px;
	text-align: right;
}

#logo {
	position: absolute;
	left: 6px;
	width: 48px;
	height: 48px;
}

#title {
	margin: 0px;
}
#title h4 {
	font-size: 26px;
	margin: 0px;
}
#title span {
	font-size: 12px;
	color: #888;
}

#toolbar {
	position: fixed;
	right: 6px;
}

button {
	color: #ccc;
	background-color: #000;
	border: #000 1px solid;
	margin: 0;
	padding: 5px 10px;
	outline: none;
}
button:hover {
	color: #fff;
}
button.focus {
	transition:border linear .2s;
	outline: none;
	border-color:#fff;
	color: #fff;
}
input, select{
	padding: 4px;
	margin: 0;
	border: 0;
	line-height: 17px;
	text-indent: 8px;
	width: 150px;
	outline: none;
}
select {
	-webkit-appearance: none;
	border-radius: 0;
	width: 158px;
}

a {
	text-decoration: none;
	color: #ccc;
}
a:hover {
	color: #fff;
}

#container {
	margin: 20px 0;
	font-size: 14px;
	background-color: #333;
	color: #ccc;
}

.control-group {
	padding-bottom: 10px;
}
.control-group label {
	display: inline-block;
	width: 100px;
	margin-right: 10px;
	text-align: right;
}

#detail {
	display: inline-block;
	width: 300px;
}
#list {
	display: inline-block;
	margin-left: 20px;
}
#list ul {
	width: 150px;
	border: #ccc 1px solid;
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
	background-color: #333;
	list-style-type: none;
	height: 230px;
	overflow-x: hidden;
	overflow-y: auto;
}
#list ul li {
	padding: 6px;
	cursor: pointer;
}
#list ul li h4 {
	font-size: 14px;
	margin: 2px;
}
#list ul li span {
	font-size: 13px;
	color: #666;
}
/*#list ul li:nth-child(even) {*/
li.even {
	background-color: #444;
}
#list ul li:hover {
	color: #fff;
}
#list ul li:hover, li.selected {
	color: #fff;
	background-color: #888;
}
.dropbox {
	display: inline-block;
	position: relative;
}
.dropbox:after{
	content: '';
	position: absolute;
	top: 9px;
	right: 3px;
	border: 4px dashed;
	border-color: #333 transparent;
	pointer-events: none;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
}